body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
}

main {
	margin: 20px;
}

button {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
}

#joke {
	font-size: 24px;
	margin: 20px 0;
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
}

h1 {
	font-size: 36px;
	margin: 0;
}

nav ul {
	display: flex;
	align-items: center;
	list-style: none;
}

nav li {
	margin-left: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
	border-radius: 5px;
}

nav a:hover {
	background-color: #fff;
	color: #333;
}
